@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond|Source+Sans+Pro&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}
