@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #000000;
  color: #146;
}
main {
  background-color: #ffff;
  width: 128rem;
  margin: 0 auto;
}
header {
  border-top: 4rem solid #146;
  border-bottom: 0.2rem solid #000;
}
nav {
  background-color: #146;
  width: 20%;
}
nav a {
  color: #ccc;
}
article {
  border-right: 0.2rem solid red;
  width: 60%;
}
aside {
  width: 20%;
}
footer {
  border-top: 0.2rem solid #000;
  text-align: center;
  clear: both;
}

header {
  padding-top: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
article,
nav,
section aside {
  padding: 3rem;
  float: left;
}
section aside {
  padding-top: 8rem;
  width: 20%;
}
li,
h2,
h3,
p {
  margin-bottom: 1em;
}
